In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
%matplotlib inline

In [ ]:
#training data
train=pd.read_csv('titanictrain.csv')
#testing data
test=pd.read_csv('titanictest.csv')

In [ ]:
train.head()

In [ ]:
test.head()

In [ ]:
test.info()

In [ ]:
#COUNTPLOT TO SEE SURVIVAL RATES(GENDER-BASED)

In [ ]:
sns.countplot(x='Sex',data=train,hue='Survived')

In [ ]:
#ADDING A NEW COLUMN 'TITLE' TO SEE HOW THE DESIGNATIONS ARE DIVIDED('MRS., MR,MISS ETC........)

In [ ]:
train['Title']=train['Name'].apply(lambda x:x.split(',')[1].split('.')[0])

In [ ]:
train

In [ ]:
#cOUNTPLOT TO SEE SURVIVAL RATES(CLASS BASED)

In [ ]:
sns.countplot(x='Pclass',data=train,hue='Survived')

In [ ]:
#TITLES AND THEIR DISTRIBUTION

In [ ]:
train['Title'].value_counts()

In [ ]:
#AGES UNDER THE TITLE OF MR.

In [ ]:
train[train['Title']==' Mr']['Age'].value_counts()

In [ ]:
#AVERAGE AGE IN EACH CLASS

In [ ]:
sns.barplot(x='Pclass',y='Age',data=train)

In [ ]:
#violin plot distribution
sns.violinplot(x='Pclass',y='Age',data=train)

In [ ]:
#box plot distribution
sns.boxplot(x='Pclass',y='Age',data=train)

In [ ]:
#Average age of class 1 passengers
train[train['Pclass']==1]['Age'].mean()

In [ ]:
#Average age of class 2 passengers
train[train['Pclass']==2]['Age'].mean()

In [ ]:
#Average age of class 3 passengers
train[train['Pclass']==3]['Age'].mean()

In [ ]:
#TO FIND NULL VALUES USING HEATMAPS

In [ ]:
sns.heatmap(train.isnull(),yticklabels=True,cbar=False,cmap='viridis')

In [ ]:
#FILL MEAN AGE IN EACH EMPTY SPACE IN AGE COLUMN ACCORDING TO CLASS

In [ ]:
def fill_age(col):
    Age=col[0]
    Pclass=col[1]
    
    if pd.isnull(Age):
        
        if Pclass==1:
            return 38
        elif Pclass==2:
            return 30
        elif Pclass==3:
            return 25
        
    else:
        return Age

In [ ]:
train['Age']=train[['Age','Pclass']].apply(fill_age,axis=1)

In [ ]:
#NOW LET US CHECK FOR NULL VALUES

In [ ]:
sns.heatmap(train.isnull(),yticklabels=True,cbar=False,cmap='viridis')

In [ ]:
#WE HAVE FILLED ALL THE NULL VALUES IN AGE

In [ ]:
train

In [ ]:
#CONVERSION OF SEX INTO 0 AND 1

In [ ]:
pd.get_dummies(train['Sex']).head()

In [ ]:
train['sex']=pd.get_dummies(train['Sex'],drop_first=True)

In [ ]:
#WE HAVE ADDED A NEW COLUMN 'sex' WHERE MALE=1 AND FEMALE=0
train.head()

In [ ]:
#CONVERTING EMBARKED COLUMN INTO DIGITS

In [ ]:
embark=pd.get_dummies(train['Embarked']).head()

In [ ]:
#The above three columns were put together in a new data fram named 'embark'
embark

In [ ]:
#Add the columns Q and S in train dataset
train[['Q','S']]=embark[['Q','S']]

In [ ]:
train.head()

In [ ]:
train

In [ ]:
test.info()

In [ ]:
test['Title']=test['Name'].apply(lambda x:x.split(',')[1].split('.')[0])

In [ ]:
test

In [ ]:
test['Title'].value_counts()
test[test['Title']==' Mr']['Age'].value_counts()
sns.barplot(x='Pclass',y='Age',data=test)
sns.violinplot(x='Pclass',y='Age',data=test)
sns.boxplot(x='Pclass',y='Age',data=test)
test[test['Pclass']==1]['Age'].mean()
test[test['Pclass']==2]['Age'].mean()
test[test['Pclass']==3]['Age'].mean()
sns.heatmap(test.isnull(),yticklabels=True,cbar=False,cmap='viridis')

def fill_age(col):
    Age=col[0]
    Pclass=col[1]
    
    if pd.isnull(Age):
        
        if Pclass==1:
            return 38
        elif Pclass==2:
            return 30
        elif Pclass==3:
            return 25
        
    else:
        return Age


test['Age']=test[['Age','Pclass']].apply(fill_age,axis=1)

sns.heatmap(test.isnull(),yticklabels=True,cbar=False,cmap='viridis')



pd.get_dummies(test['Sex']).head()

test['sex']=pd.get_dummies(test['Sex'],drop_first=True)

#WE HAVE ADDED A NEW COLUMN 'sex' WHERE MALE=1 AND FEMALE=0
test.head()



embark=pd.get_dummies(test['Embarked']).head()


#Add the columns Q and S in train dataset
test[['Q','S']]=embark[['Q','S']]



test.head()



test

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X=train.drop(['Survived','Title','Name','Ticket','Fare','Cabin','Embarked','Sex','Q','S'],axis=1)
y=train['Survived']

In [ ]:
TEST=test.drop(['Title','Name','Ticket','Fare','Cabin','Embarked','Sex','Q','S'],axis=1)

In [ ]:
TEST

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
lg=LogisticRegression()

In [ ]:
lg.fit(X,y)

In [ ]:
predictions=lg.predict(TEST)

In [ ]:
predictions

In [ ]:
predicted=pd.DataFrame(predictions)

In [ ]:
predicted.to_csv("titanicpredictions1.csv",encoding="utf-8",header=None,index=False)